---
// Import the necessary components
import MainLayout from '@/layouts/MainLayout.astro';
import HeroSection from '@/components/sections/landing/HeroSection.astro';
import HeroSectionAlt from '@/components/sections/landing/HeroSectionAlt.astro';
import ClientsSection from '@/components/sections/landing/ClientsSection.astro';
import FeaturesGeneral from '@/components/sections/features/FeaturesGeneral.astro';
import FeaturesNavs from '@/components/sections/features/FeaturesNavs.astro';
import TestimonialsSection from '@/components/sections/testimonials/TestimonialsSection.astro';
import PricingSection from '@/components/sections/pricing/PricingSection.astro';
import FAQ from '@/components/sections/FAQ.astro';
import AnnouncementBanner from '@/components/ui/banners/AnnouncementBanner.astro';
import heroImage from '@/images/hero-image.jpg';
import faqs from '@/data_files/faqs.json';
import features from '@/data_files/features.json';
import pricing from '@/data_files/pricing.json';
import featureImage from '@/images/features-image.jpg';
import construction from '@/images/construction-image.jpg';
import tools from '@/images/automated-tools.jpg';
import dashboard from '@/images/dashboard-image.avif';

const avatarSrcs: Array<string> = [
  'https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80',
  'https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80',
  'https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80',
  'https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80',
];
---

<MainLayout>
  <AnnouncementBanner
    btnId='dismiss-button'
    btnTitle='Explore Ribhya on GitHub'
    url='https://github.com/ribhya'
  />

  <HeroSection
    title=`Unlocking Excellence through Hybrid Cloud Cost Management with <span class="text-blue-500 dark:text-blue-400">Ribhya</span>`
    subTitle='AI-Enabled Precision and Efficiency for C-Suite Empowerment!'
    primaryBtn='Start Exploring'
    primaryBtnURL='/products'
    secondaryBtn='Contact Sales Team'
    secondaryBtnURL='/contact'
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt='Stack of Ribhya product boxes containing assorted hardware tools'
  />

  <!-- <ClientsSection
    title='Trusted by Industry Leaders'
    subTitle='Experience the reliability chosen by industry giants.'
  /> -->

  <FeaturesGeneral
    title='C-Suite Copilot for Accelerated Business Excellence. '
    subTitle="In today's fast-paced digital landscape, Ribhya provides actionable intelligence for executives with ease. Gain real-time insights into cloud spending, performance metrics, and security posture effortlessly. Ribhya leverages AI and machine learning to generate proactive recommendations and automated actions, optimizing cloud spending, resource utilization, and enhancing security and compliance. As a strategic partner, Ribhya empowers executives to navigate digital transformation confidently, unlocking new opportunities for innovation and growth. Experience the future of executive decision-making with Ribhya—where visibility meets action, and excellence is always within reach. Get started today and see the difference Ribhya can make!"
    src={featureImage}
    alt='Ribhya products in floating boxes'
    features={features}
  />

  <FeaturesNavs
    title=`<span class="text-blue-500 dark:text-blue-400">Ribhya</span> empowers C-Suite with real-time monitoring and actionable intelligence into cloud usage and spending patterns, while balancing speed, expense and performance.`
    tabs={[
      {
        heading: 'Advanced Automation',
        content:
          'Extensive integrations to provide complete visibility and control over your cloud spendings - IaaS, BaaS, PaaS, SaaS.',
        svg: 'tools',
        src: tools,
        alt: 'Yellow and black heavy equipment on brown grass field',
        first: true,
      },
      {
        heading: 'Intuitive Dashboards',
        content:
          "Navigate with ease using Ribhya's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective cloud management.",
        svg: 'dashboard',
        src: dashboard,
        alt: 'A screenshot or graphic representation of the intuitive dashboard',
        second: true,
      },
      {
        heading: 'Cutting Edge AI',
        content:
          'Leverage AI-driven analytics, state-of-technology in cloud-native computing, FinOps principles and best security practices.',
        svg: 'house',
        src: construction,
        alt: 'Gray metal building frame near tower crane during daytime',
      },
    ]}
  />

  <TestimonialsSection
    title='Are you scared of your next Cloud Bill'
    subTitle='`'
    testimonials={[
      {
        content: '49% of cloud-based businesses struggle to control Cloud costs?',
        author: 'Samantha Ruiz',
        role: 'Chief Operating Officer | ConstructIt Inc.',
        avatarSrc:
          'https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80',
      },
    ]}
    statistics={[
      {
        count: '32%',
        description: 'of a cloud budget went to waste',
      },
      {
        count: '75%',
        description: 'of organizations report an increase in unexplained cloud bill',
      },
      {
        count: '42%',
        description: 'CIOs consider Cloud waste as the top challenge',
      },
      {
        count: '53%',
        description: 'enterprises are struggling to see cloud ROI',
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title='Frequently<br />asked questions' faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle='Ribhya: Unleashing AI for Optimal FinOps in Your Digital Realm.'
    url='https://github.com/ribhya'
  />
</MainLayout>
